manifest {
  name = 'Tardis'
}

tower {
  accessToken = 'eyJ0aWQiOiAxfS44NzhiYTVhNDA3OGVkNDk3NTczNjNmZWM4YTk4NjZkM2YxYzA4ODMx'
  enabled = true
  endpoint = 'http://pnap-tower.tgen.org:8000/api'
}

singularity {
  enabled = true
  cacheDir = '/scratch/vpagano/nxf-singularity'
  runOptions = '--bind /scratch/vpagano:/scratch/vpagano --bind /home/tgenref:/home/tgenref'
}

profiles {
  dback {
    process.beforeScript = 'module load singularity/3.8.4 && module load squashfs-tools/4.5'
    process.deepvariantModel = '/home/tgenref/homo_sapiens/grch38_hg38/hg38tgen/tool_resources/deepvariant_v0.10.0/DeepVariant-inception_v3-0.10.0+data-wgs_standard/model.ckpt'
  }

  gemini {
    process.deepvariantModel = '/scratch/vpagano/play/model.ckpt'
  }

  local {
    process.beforeScript = 'source /etc/profile.d/modules.sh && module load singularity/3.8.4 && module load squashfs-tools/4.5'
    params.pb_ver = '3.7.0-1.beta1_A100'
    process.executor = 'local'
  }

  coh_apps {
    params.bwaContainer = 'docker://ghcr.io/coh-apps/coh_app_bwa-0.7.17:skylake'
    params.samtoolsContainer = 'docker://ghcr.io/coh-apps/coh_app_samtools-1.13:skylake'
    params.gatkContainer = 'docker://ghcr.io/coh-apps/coh_app_gatk-4.2.2.0:skylake'
  }
  k9 {
    manifest.name = 'k9'
    params.pb_reference = '/scratch/vpagano/play/GCF_000002285.5_Dog10K_Boxer_Tasha_genomic.fna'
  }
}

process {
  executor = 'slurm'
}


params {
  gpuPartition = 'gpu'
  gpuClusterOptions = ''
  fastqc = false
  accelerated = true
  pb_reference = '/scratch/vpagano/play/GRCh38tgen_decoy_alts_hla.fa'
  reference = '/home/tgenref/homo_sapiens/grch38_hg38/hg38tgen/genome_reference/GRCh38tgen_decoy_alts_hla.fa'
  reference_files = '/home/tgenref/homo_sapiens/grch38_hg38/hg38tgen/genome_reference/GRCh38tgen_decoy_alts_hla*'
  bwa2reference = '/home/tgenref/homo_sapiens/grch38_hg38/hg38tgen/tool_resources/bwa2_2.2.1/GRCh38tgen_decoy_alts_hla.fa'
  input = '/scratch/vpagano/pipeline_testing/jetstream_pipelines/GIAB_Y.json'
  publishResults = false
  parabricks = true
  fastqc = false
  pb_haplotypecaller = false
  pb_deepvariant = false
  haplotypecaller = false
  deepvariant = false
  baserecalibration = false
  vep = false
  snpeff = false
  bwamemCpus = 6
  vepCpus = 4
  snpeffCpus = 4
  samtoolsCpus = 6
  haplotypecallerCpus = 2
  make_examplesCpus = 1
  make_examplesInstances = 40
  deepvariantCpus = 8
  fastqcCPUs = 6
  deepvariantPostProcessCpus = 1
  vepData = '/home/tgenref/homo_sapiens/grch38_hg38/tool_specific_resources/vep/v98/'
  snpeffDb = 'grch38.98'
  gvcf = false
  snpeffConfig = '/home/tgenref/homo_sapiens/grch38_hg38/hg38tgen/gene_model/ensembl_v98/tool_resources/snpEff_v4_3t/snpEff.config'
  snpeffData = '/home/tgenref/homo_sapiens/grch38_hg38/hg38tgen/gene_model/ensembl_v98/tool_resources/snpEff_v4_3t/data'
  knownSites = '/home/tgenref/homo_sapiens/grch38_hg38/public_databases/broad_resource_bundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
  outputFolder = '/scratch/vpagano/results'
  pb_ver = '3.7.0-1.beta1_V100'
  deepvariantContainer = 'docker://ghcr.io/coh-apps/coh_app_deepvariant-1.2.0:skylake'
  bwaContainer = 'docker://ghcr.io/coh-apps/coh_app_bwa-0.7.17:skylake'
  samtoolsContainer = 'docker://ghcr.io/coh-apps/coh_app_samtools-1.13:skylake'
  gatkContainer = 'docker://ghcr.io/coh-apps/coh_app_gatk-4.2.2.0:skylake'
  bwa2Container = 'quay.io/biocontainers/bwa-mem2:2.2.1--h9a82719_1'
  vepContainer = 'oras://ghcr.io/v-pagano/vep:latest'
  fastqcContainer = 'docker://quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1'
  snpeffContainer = 'docker://ghcr.io/coh-apps/coh_app_snpeff-4.3:skylake'
  HaplotypecallerIntervalsYaml = '/scratch/vpagano/play/intervals.yaml'
  deepvariantModel = '/home/tgenref/homo_sapiens/grch38_hg38/hg38tgen/tool_resources/deepvariant_v0.10.0/DeepVariant-inception_v3-0.10.0+data-wgs_standard/model.ckpt'
}

